[changelog]
header = "## Changelog"
body = """
{% for group, commits in commits | group_by(attribute="group") %}
### {{ group | upper }}

{% for commit in commits %}
- {{ commit.message | trim }}
{% endfor %}
{% endfor %}
"""

footer = ""

[git]
conventional_commits = false
filter_unconventional = false

commit_parsers = [
  { message = ".*feat.*", group = "Features" },
  { message = ".*fix.*", group = "Fixes" },
  { message = ".*docs.*", group = "Documentation" },
  { message = ".*", group = "Other" }
]
